# next
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_STUDIO_URL=http://localhost:3636
NEXT_PUBLIC_SANITY_PROJECT_ID=ld0tbkmn
NEXT_PUBLIC_SANITY_DATASET=production

# sanity studio
SANITY_STUDIO_BASE_URL=http://localhost:3636
SANITY_STUDIO_NEXT_URL=http://localhost:3000
SANITY_STUDIO_API_PROJECT_ID=ld0tbkmn
SANITY_STUDIO_API_DATASET=production
SANITY_STUDIO_PREVIEW_SECRET=RPcYCzfve4g5hToRXeXu8H:g
SANITY_API_TOKEN=skPPl3W8XRJWOjHwJiMDh0g5HECxsjHEL01Cd9DPWccZmAiPQBDxlSxF9OrEEZ0RRfFNhDmjlvKYs6UWdumaVMTLR46V9xXLp6AFvEKsZx4IYBdGuOrpTeDWCJWwtEjPTSuu4DtfyM4LLgS8DNshnnzyZJv1O29ywWwqEyu3rzrFVCB42AON
SANITY_PREVIEW_TOKEN=skof4r5M1TIuuoNjExOU0deWRcN70mLI202hfZ6dcsT7ocZOTTnLTOIBSzd7VBBBi7wn1Wskv0o5LP5LeTVdm1bBw0IPzLHYGK1MV772cTssYFPL10G49N1CYf82Z8VdXnrYoKEJJrNdhnrv91hKoUwuVGBtcD6kYA5VUruzgdQEeaQFCWS8

# integrations
NEXT_PUBLIC_GOOGLE_MEASUREMENT_ID=
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=
NEXT_PUBLIC_HOTJAR_ID=
NEXT_PUBLIC_HOTJAR_SNIPPET_VERSION=

# RTS Variables
# uses default RTS value
NEXT_PUBLIC_RTS_INFO_COMPANY=rts
NEXT_PUBLIC_RTS_INFO_DEVELOPER_ID=24b21ecb864c4e318e6ddf85618a54495ae08efa4fb5c792aa28cbfc60bf0f99
NEXT_PUBLIC_RTS_AUTH_USER=test
NEXT_PUBLIC_RTS_AUTH_PASSWORD=test
NEXT_PUBLIC_RTS_BASE_URL="321033-api2.formovietickets.com:2255"
NEXT_PUBLIC_RTS_RTN=321033
NEXT_PUBLIC_RTS_EMAIL="james@masthead.dev"
NEXT_PUBLIC_RTS_CUSTOMER_CARD="9313915580730127"
NEXT_PUBLIC_RTS_CUSTOMER_PHONE="8651234567"
NEXT_PUBLIC_RTS_CUSTOMER_EMAIL="JDoe2022@testing.com"