:root {
  /* font sizes */
  --font-size-xs: 11px;
  --font-size-sm: 12px;
  --font-size-base: 14px;
  --font-size-md: 18px;
  --font-size-lg: 18px;
  --font-size-xl: 22px;
  --font-size-2xl: 36px;

  /* spacing */
  --space-x: 24px;
  --space-x-quarter: calc(var(--space-x) * 0.25);
  --space-x-half: calc(var(--space-x) * 0.5);
  --space-x-double: calc(var(--space-x) * 2);
  --space-x-trio: calc(var(--space-x) * 3);
  --space-x-quatro: calc(var(--space-x) * 4);
  --space-x-lg: 2rem;
  --space-y: 32px;
  --space-y-quarter: calc(var(--space-y) * 0.25);
  --space-y-half: calc(var(--space-y) * 0.5);
  --space-y-double: calc(var(--space-y) * 2);
  --space-y-lg: 80px;
  --space-y-sm: 10px;

  --space-block: var(--space-y);
  --space-page: calc(var(--header-height) + var(--space-y));

  /* container wrap sizes */
  --app: 1440px;
  --wrap: 340px;
  --wrap-2xs: 400px;
  --wrap-xs: 416px;
  --wrap-sm: 844px;

  /* forms */
  --input-size: 48px;

  /* buttons */
  --btn-height: 45px;
  --btn-width: 188px;
  --btn-space-x: 2em;
  --btn-space-y: 0.625em;

  /* header height */
  --header-height: 68px;

  /* speeds */
  --speed-fast: 0.2s;
  --speed-normal: 0.3s;
  --speed-slow: 0.5s;
  --speed-xslow: 0.8s;
  --speed-snail: 1.25s;
  --speed-block: var(--speed-slow);

  /* theme colors - defaults */
  --theme-bg: #a59f8d;
  --theme-text: #000000;
  --theme-text--menu: #a59f8d;
  --theme-menu: #000;
  --theme-highlight: #cfe806;
}

@screen md {
  :root {
    --header-height: 75px;
    --wrap: 550px;
  }
}

@screen lg {
  :root {
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-md: 24px;
    --font-size-lg: 30px;
    --font-size-xl: 32px;
    --font-size-2xl: 48px;

    --space-x: 42px;
    --space-y: 26px;
    --space-page: calc(var(--header-height) + var(--space-y-double) * 1.5);
  }
}

@font-face {
  font-family: 'Cardone';
  src: url('../../public/fonts/205TF-Cardone-Regular.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Cardone';
  src: url('../../public/fonts/205TF-Cardone-Italic.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cardone';
  src: url('../../public/fonts/205TF-Cardone-Bold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Cardone';
  src: url('../../public/fonts/205TF-Cardone-BoldItalic.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Monument';
  src: url('../../public/fonts/PPMonumentExtended-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
}

/* stylelint-disable selector-id-pattern */
html,
body,
#__next {
  height: 100%;
  /* overflow: hidden; */
}
/* stylelint-enable selector-id-pattern */

body {
  font-family: theme('fontFamily.serif');
  font-size: theme('fontSize.base');
  min-width: 320px;
  overscroll-behavior-y: none;
  background-color: var(--theme-bg);
  color: var(--theme-text);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

::selection {
  background-color: theme('backgroundColor.yellow');
  color: var(--theme-text);
}

.highlight {
  position: relative;
  /* color: theme('colors.black');
  background-color: theme('backgroundColor.yellow'); */
  z-index: 0;
}

.highlight::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: 0;
  height: 1em;
  background-color: var(--theme-highlight);
  z-index: -1;
  transform: skew(-5deg);
  transform-origin: top left;
  animation: highlightAnim 0.6s var(--animate-delay, 0s) ease-in-out forwards;
}

.highlight--hover:hover::before {
  background-color: theme('backgroundColor.white');
}

@keyframes highlightAnim {
  from {
    width: 0;
  }
  to {
    width: 104%;
  }
}

.red-underline {
  position: relative;
  /* color: theme('colors.black');
  background-color: theme('backgroundColor.yellow'); */
  z-index: 0;
}

.red-underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -5px;
  width: 0;
  height: 0.1em;
  background-color: theme(backgroundColor.red);
  z-index: -1;
  transform: skew(-5deg);
  transform-origin: top left;
  animation: highlightAnim 0.6s var(--animate-delay, 0s) ease-in-out forwards;
}

@keyframes underlineAnim {
  from {
    width: 0;
  }
  to {
    width: 104%;
  }
}

.theme-menu-fill {
  fill: var(--theme-menu);
}

.theme-menu-stroke {
  stroke: var(--theme-menu);
}

.menu-open-fill {
  fill: #a90736;
}

.ruled-lines {
  background-image: repeating-linear-gradient(
    transparent,
    transparent 1.94em,
    var(--theme-text, #000) 1.94em,
    var(--theme-text, #000) 2em
  );
  background-size: 100% 2em;
  background-position: 0 0;
  line-height: 2;
  background-attachment: local;
}
