:root {
  /* spacing */
  --space-x: 24px;
  --space-x-quarter: calc(var(--space-x) * 0.25);
  --space-x-half: calc(var(--space-x) * 0.5);
  --space-x-double: calc(var(--space-x) * 2);
  --space-x-trio: calc(var(--space-x) * 3);
  --space-x-quatro: calc(var(--space-x) * 4);
  --space-x-lg: 2rem;
  --space-y: 30px;
  --space-y-quarter: calc(var(--space-y) * 0.25);
  --space-y-half: calc(var(--space-y) * 0.5);
  --space-y-double: calc(var(--space-y) * 2);
  --space-y-lg: 80px;
  --space-y-sm: 10px;

  --space-block: var(--space-y);
  --space-page: calc(var(--header-height) + var(--space-y-double));

  /* container wrap sizes */
  --app: 1280px;
  --wrap: 550px;
  --wrap-2xs: 400px;
  --wrap-xs: 416px;
  --wrap-sm: 844px;

  /* forms */
  --input-size: 48px;

  /* buttons */
  --btn-height: 45px;
  --btn-width: 188px;
  --btn-space-x: 2em;
  --btn-space-y: 0.625em;

  /* header height */
  --header-height: 68px;

  /* speeds */
  --speed-fast: 0.2s;
  --speed-normal: 0.3s;
  --speed-slow: 0.5s;
  --speed-xslow: 0.8s;
  --speed-snail: 1.25s;
  --speed-block: var(--speed-slow);
}

@screen md {
  :root {
    --header-height: 75px;
  }
}

@screen lg {
  :root {
    --space-x: 60px;
  }
}

@font-face {
  font-family: 'Cardone';
  src: url('../../public/fonts/205TF-Cardone-Regular.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Cardone';
  src: url('../../public/fonts/205TF-Cardone-Italic.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cardone';
  src: url('../../public/fonts/205TF-Cardone-Bold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Cardone';
  src: url('../../public/fonts/205TF-Cardone-BoldItalic.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Monument';
  src: url('../../public/fonts/PPMonumentExtended-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
}

/* stylelint-disable selector-id-pattern */
html,
body,
#__next {
  height: 100%;
  /* overflow: hidden; */
}
/* stylelint-enable selector-id-pattern */

body {
  font-family: theme('fontFamily.serif');
  font-size: theme('fontSize.base');
  min-width: 320px;
  overscroll-behavior-y: none;
  background-color: theme('backgroundColor.stone');
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

::selection {
  background-color: theme('backgroundColor.red');
  color: theme('backgroundColor.black');
}

.highlight {
  position: relative;
  color: theme('colors.black');
  background-color: theme('backgroundColor.yellow');
  z-index: 0;
}

.highlight::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: 10px;
  height: 1em;
  background-color: theme('backgroundColor.yellow');
  z-index: -1;
  transform: skew(-5deg);
  transform-origin: top left;
}
