fieldset {
  outline: none;
  border: none;
}

textarea {
  @apply placeholder:opacity-100 placeholder:text-black font-medium;
}

select {
  @apply relative appearance-none;
}

.input {
  @apply px-3 text-2xs font-normal placeholder:opacity-100 w-full rounded-none;
}

.input:focus {
  outline: none;
}

label {
  @apply normal-case;
}

input[type='checkbox'],
input[type='checkbox']:focus,
input[type='checkbox']:active,
input[type='radio'],
input[type='radio']:focus,
input[type='radio']:active {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 0;
  background: white;
  box-shadow: none;
  top: 0.1em;
  left: 0.3em;
  padding: 0.3em;
  position: relative;
  margin-right: 0.8em;
}

input[type='checkbox']:checked:before,
input[type='radio']:checked:before {
  top: 1px;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
  background: black;
}

input[type='checkbox'].unit-checkbox {
  position: absolute;
  left: 0;
  top: 18px;
}

@screen md {
  input[type='checkbox'],
  input[type='checkbox']:focus,
  input[type='checkbox']:active,
  input[type='radio'],
  input[type='radio']:focus,
  input[type='radio']:active {
    left: 4px;
    margin-right: 1em;
    width: 1rem;
    height: 1rem;
    padding: 0.3em;
  }

  input[type='checkbox'].tel-checkbox {
    left: 0;
    margin-right: 0;
    width: 1rem;
    height: 1rem;
    padding: 0;
  }
}
