:root {
  --swiper-pagination-bullet-horizontal-gap: 7px;
  --swiper-pagination-bottom: 2px;
}

.swiper-pagination {
  @apply hidden;
}

.swiper-button-disabled {
  opacity: 0.3;
}

@screen sm {
  :root {
    --swiper-pagination-bullet-horizontal-gap: 10px;
  }
}
