.link:focus {
  box-shadow: none;
  outline: 0;
}

/* .link:focus-visible,
.active {
  text-decoration: underline;
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
  }
}

.link:active {
  text-decoration: underline;
} */
